<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/">Angular CMS</button>
    <span class="example-spacer"></span>

    <ng-container *ngFor="let menu of menusList">
      <button mat-button [routerLink]="['/pages', menu.url]">
        {{ menu.title }}
      </button>
    </ng-container>

    <button mat-button routerLink="/article">Article Page</button>
    <button mat-button routerLink="/admin">Admin</button>

    <div *ngIf="!user">
      <button mat-button (click)="afService.loginWithGoogle()">Login</button>
    </div>

    <div *ngIf="user" class="user-info">
      <span class="user-name">Hello, {{ user.displayName }}</span>
      <img class="profileImg" [src]="user.photoURL" alt="Profile Image">
      <button mat-button [matMenuTriggerFor]="menu" aria-label="menu">
        <mat-icon>expand_more</mat-icon>
      </button>

      <mat-menu #menu="matMenu" x-position="after" y-position="below" overlapTrigger="false">
        <button mat-menu-item disabled>
          <mat-icon>person</mat-icon>
          <span>Account Settings</span>
        </button>
        <button mat-menu-item (click)="afService.logout()">
          <mat-icon>logout</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
